<%= render 'shared/errors', obj: @client %>
<div id="client-edit">
  <h4 style="float: left;">顧客データを編集します。</h4>
  <div style="text-align: right"><%= link_to "一覧へ戻る", { :controller => "clients", :action => "index" }, { :class => "btn btn-default" }  %></div>
  <div style="clear:both;"></div>
  <hr style="margin-top: 0; border: 1px solid black">
  <%= form_for @client do |form| %>
      <%= render "form", form: form %>
      <div style="margin-left: 155px;"><button type="submit" class="btn btn-primary" onclick="submit();">更新</button></div>
  <% end %>
  <hr style="border: 1px solid black">
</div>