/*
* {
  box-sizing: border-box;
  border: solid red 1px;
}
*/

/*  */
html, body {
  margin: 0;
  padding: 0;
  background-image: url("diamond_upholstery.png");

}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.header{
}
.footer{
}


#clients-list {
  border: 1px black solid;
  border-collapse: collapse;
  background-color: #ffffff;
  margin-bottom: 0;

  th{
    background-color: Black;
    color: white;
    border: 1px black solid;
    text-align: center;
  }
  td {
    border: 1px black solid;
  }
}

.form-label{
  text-align: right;
}