#clients-list {
  border: 1px black solid;
  border-collapse: collapse;

  th{
    border: 1px black solid;
  }
  td {
    border: 1px black solid;
  }
}

#client-new {
  margin: auto;
  width: 900px;
}

.form-label{
  text-align: right;
}