/*
* {
  box-sizing: border-box;
  border: solid red 1px;
}
*/

/*  */
html, body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}



#clients-list {
  border: 1px black solid;
  border-collapse: collapse;

  th{
    border: 1px black solid;
  }
  td {
    border: 1px black solid;
  }
}

.form-label{
  text-align: right;
}